body{
    background-color: rgb(250,250,250);
}

.box{
    background-color: rgb(27,26,26);
    border-radius: 40px;
    margin: 0 auto;
    margin-left: 400px;
    margin-right: 400px;
    padding-bottom: 20px;
}

h1{
    text-align: center;
    color: rgb(57,62,93);   
}

input{    
    background-color: rgb(236, 236, 236);
    border-radius: 10px;
    position: relative;
    margin-left: 30%;
    border-color: rgb(236, 236, 236);
}

button{
    padding: 5px;
    text-align: center;
    border-radius: 9px;
    background-color: rgba(18, 141, 212, 0.801);
}

.secondDiv{
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
}


h2{
    display: block;
    text-align: center;
    color: aliceblue;   
}

.thirdDiv{
    border-bottom: 5px solid gray;
}